<div class="container">
	<div class="row">
		<form method="get">
		<div class="form-group">
		<% get_attractions.each_with_index do |attraction, index| %>
		  <div class="col-md-2 attr-act-card">
        <label class="btn btn-primary">
          <img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check">
          <input type="checkbox" name="attractions[]" id="item<%= (index+1) %>" value="<%= attraction %>" class="hidden" autocomplete="off">
        </label>
      </div>
    <% end %>

    <% get_activities.each_with_index do |activity, index| %>
      <div class="col-md-2 attr-act-card">
        <label class="btn btn-primary">
          <img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check">
          <input type="checkbox" name="activities[]" id="item<%= (index+1) %>" value="<%= activity %>" class="hidden" autocomplete="off">
        </label>
      </div>
    <% end %>
		<!-- <div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="activities[]" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="attractions[]" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="activities[]" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="attractions[]" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="activities[]" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="attractions[]" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-2 attr-act-card"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="activities[]" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
		</div> -->
		<!-- <input type="submit" value="Check Item" class="btn btn-success"> -->
		
		</form>
	</div>	
</div>