<style type="text/css">
  img.attr-img-card {
    width: 140px;
    height: 100px;
  }
</style>

<div class="container">
  <div class="row">
    <form method="get">
      <div class="form-group">
        <% get_attractions.each_with_index do |attraction, index| %>
          <div class="col-md-2 attr-act-card">
            <label class="btn btn-primary">
              <img class="img-thumbnail img-check attr-img-card" src="<%= attraction.avatar.url(:medium) %>">
              <input type="checkbox" name="attractions" id="item<%= (index+1) %>" value="<%= attraction.name %>" class="hidden" autocomplete="off">
            </label>
            <span><b><%= attraction.name %></b></span>
          </div>
        <% end %>
      </div>
    </form>
  </div>  
</div>
