<div class="container">
	<div class="row">
    <section>
      <div class="wizard">
        <%= render 'progress_tabs' %>

        <%= render 'user_intent_form' %>
      </div>
    </section>
  </div>
</div>